*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color:rgb(80, 70, 18);
}
h1{
    font-size: 30px;
    color:rgb(126, 197, 241);
    margin: 15px 0px 20px 75px;
}
#frame{
    width: 400px;
    margin: 0 10px;

}